[defaults]
roles_path = ./roles
collections_path = /usr/share/ansible/collections:/root/.ansible/collections:/home/morpheus-local/.ansible/collections:/opt/morpheus/.local/.ansible/collections:/var/opt/morpheus/.ansible/collections

